{% extends 'base.html' %}
{% block content %}
    {% if form.errors %}

<p> Seu usuário e senha estão incorretors. Tente de novo.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}

<p> Voê não possui acesso a página. Para proceder, por favor digite um login e senha corretos.</p>
    {% else %}

<p>Por favor, logue para entrar.</p>
    {% endif %}
{% endif %}
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1>Cadastrar Doação de Sangue</h1>
            <form action="{% url 'hemonucleo:doacao' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Cadastrar" />
            </form>
        </div>
    </div>
</div>
{% endblock %}