{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1>Últimas Doações</h1>
            <a class="navbar-brand" href="#">Sistema de Hemonúcleo</a>
        </div>
        <table class="table">
            <caption></caption>
            <thead>
                <tr> <th>Nome</th> <th>Idade</th> <th>Sexo</th> <th>Codigo da Amostra</th> <th>Procedimento</th></tr>
            </thead>
            <tbody>
             {%for  i in latest_question_list%}
                <tr><th scope="row">{{i.doador.nome}}</th> <td>{{i.doador.idade}}</td> <td>{{i.doador.get_sexo_display}}</td> <td>{{i.codigoDaAmostra}}</td>  <td>{{i.get_procedimento_display}}</td></tr>
             {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}